<h2 mat-dialog-title>Add a New Hero</h2>
<div>
  <form [formGroup]="newHeroForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="new-hero-name">Hero name: </mat-label>
        <input
          matInput
          id="new-hero-name"
          formControlName="newHeroName"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="new-hero-power">Hero power: </mat-label>
        <input
          matInput
          id="new-hero-power"
          formControlName="newHeroPower"
          required
        />
      </mat-form-field>
    </div>
    <!-- (click) passes input value to add() and then clears the input -->
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        type="submit"
        mat-dialog-close
        [disabled]="!newHeroForm.valid"
        class="add-button"
      >
        Add hero
      </button>
    </mat-dialog-actions>
  </form>
</div>
